/ All Project Colors :root {
  --primaryColor: hsl(14, 90%, 53%);
  --primaryColorLight: hsl(14, 96%, 91%);
  --bgColor: hsl(0, 0%, 100%);
  --formColor: hsl(20, 42%, 87%);
  --whiteColor: hsl(0, 0%, 100%);
  --blackColor: hsl(0, 0%, 18%);
  --greyText: hsl(0, 0%, 51%);
  --inputColor: hsl(330, 12%, 97%);
  --cardColor: hsl(300, 3%, 94%);

  /* Font ang Typography */
  --biggestFontSize: 2.5rem;
  --h1FontSize: 2rem;
  --h2FontSize: 1.25rem;
  --h3FontSize: 1rem;
  --normalFontSize: 0.938rem;
  --smallFontSize: 0.813rem;
  --smallestFontSize: 0.75rem;
  --borderRadius: 3rem;
}

.fade-slider {
  position: relative;
  min-height: 120px;
  height: 200px;
  padding: 1rem;
  font-size: 1.1rem;
  line-height: 1.6;
  transition: all 0.5s ease-in-out;
}

.fade-text {
  opacity: 0;
  animation: fadeIn 1s ease-in-out forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
