
// All Project Colors
:root {
  --primaryColor: hsl(14, 90%, 53%);
  --primaryColorLight: hsl(14, 96%, 91%);
  --bgColor: hsl(0, 0%, 100%);
  --formColor: hsl(20, 42%, 87%);
  --whiteColor: hsl(0, 0%, 100%);
  --blackColor: hsl(0, 0%, 18%);
  --greyText: hsl(0, 0%, 51%);
  --inputColor: hsl(330, 12%, 97%);
  --cardColor: hsl(300, 3%, 94%);

  /* Font ang Typography */
  --biggestFontSize: 2.5rem;
  --h1FontSize: 2rem;
  --h2FontSize: 1.25rem;
  --h3FontSize: 1rem;
  --normalFontSize: 0.938rem;
  --smallFontSize: 0.813rem;
  --smallestFontSize: 0.75rem;
  --borderRadius: 3rem;
}


.login-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(8px); // efek blur latar belakang
  background-color: rgba(0, 0, 0, 0.3); // semi-transparan hitam
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.login-box {
  background-color: #ffffff;
  padding: 2rem 1.5rem;
  border-radius: 16px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.25);
  width: 90%;
  max-width: 400px;
  text-align: center;
  animation: fadeIn 0.3s ease-in-out;

  h2 {
    margin-bottom: 1.5rem;
    font-size: 1.6rem;
    color: #333;
  }

  .login-logo{
    font-size: 3rem;
  }

  button {
    width: 100%;
    padding: 12px;
    font-size: 1rem;
    margin-top: 1rem;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background 0.3s;
    color: var(--blackColor);

    &:first-of-type {
      background-color: var(--primaryColorLight);
      color: var(--greyText);

      &:hover {
        background-color: var(--primaryColor);
        color: #ffffff;
      }
    }

    &:last-of-type {
      background-color: #e0e0e0;

      &:hover {
        background-color: #ccc;
      }
    }
  }
}

// Animasi fade-in saat muncul
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
